
@{
    ViewData["Title"] = "Index";
}
@section Scripts
    {
    <script src="~/js/products.js"></script>
}

<div>
    <h2>All Products</h2>



    <ul id="products" />
</div>
<div>
    <h2>Search by ID</h2>
    <input type="text" id="prodId" size="5" />
    <input type="button" value="Search" onclick="find();" />
    <p id="product" />
</div>

